:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container14 {
    overflow: hidden;
  }
  
  .main-container14,
  .main-container14 * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container14 {
    position: relative;
    width: 700px;
    height: 1000px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .group14 {
    position: relative;
    width: 639px;
    height: 40px;
    margin: 360px 0 0 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 8;
    border-radius: 20px;
  }
  .rectangle14 {
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    background: #93a9d1;
    z-index: 9;
    border-radius: 20px;
  }
  .care14 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    z-index: 10;
  }
  .care-instructions14 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 640px;
    height: 292px;
    margin: 10px 0 0 30px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: left;
    z-index: 11;
  }
  .group-114 {
    position: relative;
    width: 640.274px;
    height: 40px;
    margin: 238px 0 0 30px;
    z-index: 16;
  }
  .chevron-right-icon14 {
    position: absolute;
    width: 24.275px;
    height: 40px;
    top: 0;
    left: 616px;
    z-index: 17;
  }
  .vector14 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/068c63b7-e4cc-4a8a-b3e7-63222c5765ed.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 18;
  }
  .chevron-right-icon-214 {
    position: absolute;
    width: 3.79%;
    height: 100%;
    top: 0;
    left: 0%;
    background: url(../assets/images/23d0f2e7-5065-46f2-94f0-d8c1550393b4.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 19;
  }
  .rectangle-314 {
    position: absolute;
    width: 700px;
    height: 1000px;
    top: 0;
    left: 0;
    background: #d9d9d9;
  }
  .group-414 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 630px;
    font-size: 0px;
    z-index: 13;
  }
  .span14 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 28px;
    height: 29px;
    margin: 6px 0 0 6px;
    color: #d9d9d9;
    font-family: Montserrat, var(--default-font-family);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
  }
  .ellipse14 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(../assets/images/a704c276-6021-4a10-92b7-8898fb949577.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
    border-radius: 50%;
  }
  .group-514 {
    position: absolute;
    width: 670px;
    height: 34px;
    top: 18px;
    left: 0;
    z-index: 1;
  }
  .controle-dos-sintomas14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 34px;
    top: 0;
    left: 100px;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .rectangle-button14 {
    position: absolute;
    width: 90px;
    height: 30px;
    top: 2px;
    left: 0;
    cursor: pointer;
    background: #88b04b;
    border: none;
    z-index: 2;
  }
  .prancheta-copia14 {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 80px;
    left: 410px;
    background: url(../../assets/images/14.png)
      no-repeat center;
    background-size: cover;
    z-index: 12;
  }
  .group-614 {
    position: absolute;
    width: 350px;
    height: 160px;
    top: 130px;
    left: 30px;
    z-index: 4;
    border-radius: 20px;
  }
  .flex-row-f14 {
    position: relative;
    width: 350px;
    height: 40px;
    margin: 0 0 0 0;
    z-index: 7;
  }
  .rectangle-button-714 {
    position: absolute;
    width: 350px;
    height: 40px;
    top: 0;
    left: 0;
    cursor: pointer;
    background: #93a9d1;
    border: none;
    z-index: 6;
    border-radius: 20px;
  }
  .fever14 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 350px;
    height: 40px;
    top: 0;
    left: 0;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    z-index: 7;
  }
  .high-temperature14 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 344px;
    height: 110px;
    margin: 10px 0 0 3px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: center;
    z-index: 5;
  }
  