:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container16 {
    overflow: hidden;
  }
  
  .main-container16,
  .main-container16 * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container16 {
    position: relative;
    width: 700px;
    height: 1000px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .group16 {
    position: relative;
    width: 639px;
    height: 270px;
    margin: 80px 0 0 30px;
    z-index: 8;
  }
  .clipboard-copy16 {
    position: absolute;
    width: 260px;
    height: 270px;
    top: 0;
    left: 379px;
    background: url(../../assets/images/16.png)
      no-repeat center;
    background-size: cover;
    z-index: 15;
  }
  .group-116 {
    position: absolute;
    width: 350px;
    height: 227px;
    top: 21px;
    left: 0;
    z-index: 9;
    border-radius: 20px;
  }
  .group-216 {
    position: absolute;
    width: 350px;
    height: 227px;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 20px;
  }
  .button16 {
    position: relative;
    width: 350px;
    height: 85px;
    margin: 0 0 0 0;
    cursor: pointer;
    font-size: 0px;
    background: transparent;
    border: none;
    z-index: 12;
    overflow: visible auto;
    border-radius: 20px;
  }
  .span16 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 309px;
    height: 67px;
    margin: 9px 0 0 21px;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    z-index: 14;
  }
  .rectangle16 {
    position: absolute;
    width: 350px;
    height: 85px;
    top: 0;
    left: 0;
    background: #93a9d1;
    z-index: 13;
    border-radius: 20px;
  }
  .span-316 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 344px;
    height: 132px;
    margin: 10px 0 0 3px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: center;
    z-index: 11;
  }
  .button-416 {
    position: relative;
    width: 639px;
    height: 40px;
    margin: 10px 0 0 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 4;
    border-radius: 20px;
  }
  .rectangle-516 {
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    background: #93a9d1;
    z-index: 5;
    border-radius: 20px;
  }
  .cuidados16 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    z-index: 6;
  }
  .observacoes16 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 640px;
    height: 344px;
    margin: 10px 0 0 30px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: left;
    z-index: 7;
  }
  .group-616 {
    position: relative;
    width: 640.274px;
    height: 40px;
    margin: 186px 0 0 30px;
    z-index: 19;
  }
  .chevron-right16 {
    position: absolute;
    width: 24.275px;
    height: 40px;
    top: 0;
    left: 616px;
    z-index: 20;
  }
  .vector16 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/6a74aa89-23f8-4141-99b8-129af6ad73d9.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 21;
  }
  .chevron-right-icon16 {
    position: absolute;
    width: 3.79%;
    height: 100%;
    top: 0;
    left: 0%;
    background: url(../assets/images/b5ecc90a-76d8-45bd-b074-9be7cc7fd24c.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 22;
  }
  .rectangle-716 {
    position: absolute;
    width: 700px;
    height: 1000px;
    top: 0;
    left: 0;
    background: #d9d9d9;
  }
  .group-816 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 630px;
    font-size: 0px;
    z-index: 16;
  }
  .number-1616 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 26px;
    height: 29px;
    margin: 6px 0 0 7px;
    color: #d9d9d9;
    font-family: Montserrat, var(--default-font-family);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
    white-space: nowrap;
    z-index: 18;
  }
  .ellipse16 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(../assets/images/f1773866-a8b1-4726-98d9-74b5c323ab09.png)
      no-repeat center;
    background-size: cover;
    z-index: 17;
    border-radius: 50%;
  }
  .group-916 {
    position: absolute;
    width: 670px;
    height: 34px;
    top: 18px;
    left: 0;
    z-index: 1;
  }
  .control-symptoms16 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 34px;
    top: 0;
    left: 100px;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .rectangle-a16 {
    position: absolute;
    width: 90px;
    height: 30px;
    top: 2px;
    left: 0;
    background: #88b04b;
    z-index: 2;
  }
  