/* NavegacaoBotoes.css */

.navigation-buttons {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .button-wrapper {
    cursor: pointer;
    margin: 0 10px;
  }
  
  .button-wrapper img {
    width: 24.27px;
    height: 40px;
  }
  