:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container18 {
    overflow: hidden;
  }
  
  .main-container18,
  .main-container18 * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container18 {
    position: relative;
    width: 700px;
    height: 1000px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .group18 {
    position: relative;
    width: 639px;
    height: 40px;
    margin: 360px 0 0 30px;
    z-index: 8;
    border-radius: 20px;
  }
  .rectangle18 {
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    background: #93a9d1;
    z-index: 9;
    border-radius: 20px;
  }
  .care18 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    z-index: 10;
  }
  .care-instructions18 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 640px;
    height: 238px;
    margin: 10px 0 0 30px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: left;
    z-index: 11;
  }
  .group-118 {
    position: relative;
    width: 640.274px;
    height: 40px;
    margin: 292px 0 0 30px;
    z-index: 16;
  }
  .chevron-right-icon18 {
    position: absolute;
    width: 24.275px;
    height: 40px;
    top: 0;
    left: 616px;
    z-index: 17;
  }
  .vector18 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/4ac0c6b5-9211-4580-87e4-3dad27dd0b41.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 18;
  }
  .chevron-right-icon-218 {
    position: absolute;
    width: 3.79%;
    height: 100%;
    top: 0;
    left: 0%;
    background: url(../assets/images/c602c414-ab3c-44f4-bbd0-ee5d5ccbd943.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 19;
  }
  .rectangle-318 {
    position: absolute;
    width: 700px;
    height: 1000px;
    top: 0;
    left: 0;
    background: #d9d9d9;
  }
  .group-418 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 630px;
    font-size: 0px;
    z-index: 13;
  }
  .span18 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 27px;
    height: 29px;
    margin: 6px 0 0 7px;
    color: #d9d9d9;
    font-family: Montserrat, var(--default-font-family);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
  }
  .ellipse18 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(../assets/images/25845510-d4e7-43e2-9c45-d2bf2e475fe7.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
    border-radius: 50%;
  }
  .group-518 {
    position: absolute;
    width: 670px;
    height: 34px;
    top: 18px;
    left: 0;
    z-index: 1;
  }
  .control-symptoms18 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 34px;
    top: 0;
    left: 100px;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .rectangle-button18 {
    position: absolute;
    width: 90px;
    height: 30px;
    top: 2px;
    left: 0;
    cursor: pointer;
    background: #88b04b;
    border: none;
    z-index: 2;
  }
  .prancheta-copia18 {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 80px;
    left: 410px;
    background: url(../../assets/images/18.png)
      no-repeat center;
    background-size: cover;
    z-index: 12;
  }
  .group-618 {
    position: absolute;
    width: 350px;
    height: 177px;
    top: 121px;
    left: 30px;
    z-index: 4;
    border-radius: 20px;
  }
  .flex-row-fc18 {
    position: relative;
    width: 350px;
    height: 40px;
    margin: 0 0 0 0;
    z-index: 7;
  }
  .rectangle-button-718 {
    position: absolute;
    width: 350px;
    height: 40px;
    top: 0;
    left: 0;
    cursor: pointer;
    background: #93a9d1;
    border: none;
    z-index: 6;
    border-radius: 20px;
  }
  .fadiga18 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 350px;
    height: 40px;
    top: 0;
    left: 0;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    z-index: 7;
  }
  .sensacao-pessoal18 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 344px;
    height: 127px;
    margin: 10px 0 0 3px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: center;
    z-index: 5;
  }
  