:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 700px;
    height: 1000px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .group {
    position: relative;
    width: 639px;
    height: 40px;
    margin: 360px 0 0 30px;
    z-index: 8;
    border-radius: 20px;
  }
  .rectangle {
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    background: #93a9d1;
    z-index: 9;
    border-radius: 20px;
  }
  .cuidados {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 639px;
    height: 40px;
    top: 0;
    left: 0;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    z-index: 10;
  }
  .alimentos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 640px;
    height: 204px;
    margin: 10px 0 0 30px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: left;
    z-index: 11;
  }
  .group-1 {
    position: relative;
    width: 640.274px;
    height: 40px;
    margin: 326px 0 0 30px;
    z-index: 16;
  }
  .chevron-right-icon {
    position: absolute;
    width: 24.275px;
    height: 40px;
    top: 0;
    left: 616px;
    z-index: 17;
  }
  .vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/72b21653-f674-47ce-9c46-22d10475c7d2.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 18;
  }
  .chevron-right-icon-2 {
    position: absolute;
    width: 3.79%;
    height: 100%;
    top: 0;
    left: 0%;
    background: url(../assets/images/b6c0ea87-f563-47f3-8e26-03af5f79a140.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 19;
  }
  .rectangle-3 {
    position: absolute;
    width: 700px;
    height: 1000px;
    top: 0;
    left: 0;
    background: #d9d9d9;
  }
  .group-4 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 630px;
    font-size: 0px;
    z-index: 13;
  }
  .span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 29px;
    margin: 6px 0 0 5px;
    color: #d9d9d9;
    font-family: Montserrat, var(--default-font-family);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
  }
  .ellipse {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(../assets/images/251e4149-70ee-4fef-81e4-66640c1184fe.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
    border-radius: 50%;
  }
  .group-5 {
    position: absolute;
    width: 670px;
    height: 34px;
    top: 18px;
    left: 0;
    z-index: 1;
  }
  .control-symptoms {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 34px;
    top: 0;
    left: 100px;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .rectangle-button {
    position: absolute;
    width: 90px;
    height: 30px;
    top: 2px;
    left: 0;
    cursor: pointer;
    background: #88b04b;
    border: none;
    z-index: 2;
  }
  .copied-prancheta {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 80px;
    left: 410px;
    background: url(../../assets/images/23.png)
      no-repeat center;
    background-size: cover;
    z-index: 12;
  }
  .group-6 {
    position: absolute;
    width: 350px;
    height: 234px;
    top: 92px;
    left: 30px;
    z-index: 4;
    border-radius: 35px;
  }
  .rectangle-button-7 {
    position: relative;
    width: 350px;
    height: 70px;
    margin: 0 0 0 0;
    cursor: pointer;
    background: #93a9d1;
    border: none;
    z-index: 6;
    border-radius: 35px;
  }
  .mucosite-symptoms {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 344px;
    height: 154px;
    margin: 10px 0 0 3px;
    color: #111111;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.942px;
    text-align: center;
    z-index: 5;
  }
  .mucosite-odinofagia {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 328px;
    height: 57px;
    top: 98px;
    left: 41px;
    color: #66648b;
    font-family: Montserrat, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-overflow: initial;
    z-index: 7;
    overflow: hidden;
  }
  